@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap');
:root{
  --primary-white: #fff;
  --primary-theme: #c96b6b;
}
body{
  font-family: "Poppins",sans-serif;
}
.logo{
  width: 9.25rem;
}
/*NavBar Links Styling*/
.nav-link{
  font-weight: 500;
  letter-spacing: .0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav >li >a{
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-white) !important;
}

.navbar-brand{
  max-width: 5.25rem;
  padding: 0.8rem !important;
  height: 5rem !important;
}
.bg-dark{

}

.navbar-nav > li > a.active,.navbar-nav > li > a:focus,.navbar-nav > li > a:hover{
  border-top: var(--primary-theme) solid .1775rem;
}